@font-face {
  font-family: 'Raleway-Light';
  src:url('../fonts/raleway/light/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src:url('../fonts/raleway/bold/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src:url('../fonts/raleway/Regular/Raleway-Regular.ttf');
}