.service-box_photography-static {
  background-position: -2px -6px;
}

.service-box_eventManagement-static {
  background-position: -111px -6px;
}

.service-box_mathematics-static {
  background-position: -220px -8px;
}

.service-box_programming-static {
  background-position: -320px -5px;
}

.service-box_globalProject-static {
  background-position: -3px -51px;
}

.service-box_creativeDesign-static {
   background-position: -112px -51px;
 }

.service-box_responsiveTheme-static {
  background-position: -219px -53px;
}

.service-box_seoService-static {
  background-position: -321px -49px;
}