.service-box_photography-hover {
  background-position: -54px -6px;
}

.service-box_eventManagement-hover {
  background-position: -168px -6px;
}

.service-box_mathematics-hover {
  background-position: -272px -8px;
}

.service-box_programming-hover {
  background-position: -372px -5px;
}

.service-box_globalProject-hover {
  background-position: -52px -51px;
}

.service-box_creativeDesign-hover {
  background-position: -169px -51px;
}

.service-box_responsiveTheme-hover {
  background-position: -273px -53px;
}

.service-box_seoService-hover {
  background-position: -372px -49px;
}