.header-nav {
  @include clearfix;
  padding: 0 0 46px 0;
  @media (min-width: 940px) {
    padding: 57px 0 0 0;
  }
  @media (min-width: 1170px) {
    padding: 57px 0 0 130px;
  }
    &__elem {
      float: none;
      margin-right: 17px;
      padding-bottom: 10px;
      @media (min-width: 720px) {
        float: left;
        padding-bottom: 0;
      }
      @media (min-width: 1010px) {
        margin-right: 33.3px;
        &:last-child {
          margin-right: 0;
          margin-left: -5px;
        }
      }

        &__link {
          font-size: 20px;
          font-weight: bold;
          font-family: Arial, sans-serif;
          padding-bottom: 10px;
          color: $colorNav;
          @media (min-width: 720px) {
            padding-bottom: 55px;
            &:hover {
              color:$accentColorHover;
              border-bottom: 6px solid $accentColorHover;
              transition: color linear 200ms;
            }
            &:active {
              color: $accentColor;
              border-bottom: 6px solid $accentColor;
              transition: all linear 200ms;
            }
          }
        }
      &_search-mod {
        color: $colorNav;
        font-size: 27px;
        &:hover {
          color:$accentColorHover;
          transition: color linear 200ms;
          cursor: pointer;
        }
        &:active {
          color: $accentColor;
          transition: color linear 200ms;
        }
      }
    }
}


.mobi {
    &__nav {
      width: 32px;
      overflow: hidden;
      display: block;
        @media (min-width: 720px) {
          display: none;
        }
    }
    &__list {
      width: 64px;
      margin-bottom: 18px;
        &__item {
          display: inline-block;
          color: #fff;
          font-size: 21px;
        }
    }
}

.mobi-item {
  width: 100%;
  height: 100%;
}

.header-nav_mod-visibility-none {
  display: none;
  @media (min-width: 720px) {
    display: block;
  }
}

.header-nav_mod-visibility-block {
  display: block;
}
