.header-slider {
  padding-top: 366px;
  padding-bottom: 297px;
  &__elem {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-family: $fontRalewayBold;
    text-align: center;
    line-height: 1.1;
    padding-right: 10px;
    padding-left: 10px;

    @media (min-width: 970px) {
      padding-left: 0;
      text-align: right;
    }
    @media (min-width: 320px) and (max-width: 1110px) {
      font-size: calc(0.0563 * 100vw + 6.984px);
    }
    @media (min-width: 1111px) {
      font-size: 69.5px;
    }
    @media (min-width: 1210px) {
      padding-right: 0;
    }
      &__item {
        font-family: $fontRalewayLight;
        margin-left: 20%;
        margin-right: 15%;
        @media (min-width: 970px) {
          margin-left: 551px;
          margin-right: 0;
        }
      }
  }
}

.slick-prev {
  left: 20px;
  background-position: 14px 18px;
    @media (min-width: 1510px) {
      left: -156px;
    }
    @media (min-width: 1710px) {
      left: -256px;
    }
}

.slick-next {
  right: 20px;
  background-position: -55px 18px;
    @media (min-width: 1510px) {
      right: -156px;
    }
    @media (min-width: 1710px) {
      right: -259px;
    }
}

.slick-arrow{
  position: absolute;
  top: 27%;
  font-size: 0;
  width: 48px;
  height: 56px;
  background-color: #212121;
  border: none;
  outline: none;
  background-image: url('../img/arrowsSlider.png');
  background-repeat: no-repeat;
    @media (min-width: 1510px) {
      top: 40.5%;
    }
}