.search-block {
  position: relative;
  width: 252px;
}

.header-search {
  position: absolute;
  bottom: -87px;
  right: 0;
}

.header-search_display {
    &-none {
      display: none;
    }
    &-block {
      display: block;
    }
}


.header-search_true {
  animation: search-visable ease 2s 1;
  transition: animation ease 300ms;
  animation-fill-mode:forwards;
}


@keyframes search-visable {
  0% {
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: all ease 500ms;
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    transition: all ease 500ms;
    opacity: 1;
  }
}

.header-search_false {
  animation: search-none ease 2s 1;
  transition: animation ease 300ms;
  animation-fill-mode:forwards;
}

@keyframes search-none {
    0% {
      transform: rotateX(0deg);
      transition: all ease 500ms;
      opacity: 1;
    }
  100% {
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: all ease 500ms;
    opacity: 0;
  }


}


.search-block {
    &__input {
      width: 100%;
      font-size: 19px;
      padding: 7px 42px 7px 10px;
      border: none;
      outline: none;
    }
    &__submit {
      display: none;
    }
    &__submit-label {
      display: block;
      position: absolute;
      top: 1px;
      right: 3px;
      width: 37px;
      height: 33px;
      &:hover {
        cursor: pointer;
        background-color: #f3b212;
      }
        &_search-icon {
          font-size: 30px;
        }
    }
}