.title {
  font-family: $fontRalewayBold;
  text-transform: uppercase;
  display: block;
  line-height: 0.7;

  border-bottom: none;
  position: relative;
  @media (min-width: 600px) {
    display: inline-block;
    border-bottom: 1px solid $accentColor;
  }
}

.title_mod-color1 {
  color: $color1TitleBlock;
}
.title_mod-color2 {
  color: $color2TitleBlock;
}