.triangle-hover {
  background-image: url('../img/service-box-hover.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 81px;
  background-repeat: no-repeat;
  background-size: cover;
}